* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Haeder */
header
{
    position: relative;
    /* margin-bottom: 5px; */
}
header h2 
{
    position: absolute;
    top: 12px;
    left: 10%;
}
/* End Haeder */
